<template name="loginView">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <div class="vslide-col-1">
                <h1>
                    Admin Login.
                </h1>
                <div class="login-form-container">
                    <form id="login-form">
                        <div>
                            <input type="text" class="login-input" placeholder="Admin login">
                        </div>
                        <div>
                            <input type="password" class="password-input" placeholder="Admin password">
                        </div>
                        <div>
                            <button class="login-form-button" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>